<% provide(:title, "Curriculumn_Vitae") %>
<h1>Curriculumn_Vitae</h1>


<h2>CAREER INTENT</h2>
	<p>
	“To work in an exciting ICT environment that offers both responsibilities and prospect for
growth”

	</p>


<h3>Personal Information</h3>
	<p>
	NAME:PETER OMONDI OCHIENG
	<br>
	TEL: +254729030736, +254733614819
	<br>
	Email: pomochieng@yahoo.com, pomochieng@gmail.com.
	<br>
	DATE OF BIRTH : 22 ND SEPTEMBER 1982
	<br>
	ID NUMBER : 23045552
	<br>
	ADDRESS : P.O. BOX 1962 - 40100, KISUMU
	<br>
	NATIONALITY : KENYAN
	<br>
	LANGUAGE : ENGLISH, KISWAHILI, AND DHOLUO

	</p>

<p>
<h3>Work Experience</h3>

<h2>>1st Sep 2011 – 30th Nov 2015: ICT Administrative Assistant (System Administrator)in
Jaramogi Oginga Odinga Teaching and Referral Hospital.</h2>
<br>
<strong>Responsibility</strong>
<ul>
<li>versee the implementation of huge projects on, WAN, Broadband bandwidth consolidation
using CISCO & RAD Products, Siemons & CISCO Products.</li>
<li>Oversee training of health workers in the use of available software.</li>	
<li>Offer technical support, coordinate, supervise and perform day to day Hospital activities.</li>	
<li>Carry out regular Information Technology Quality Audits.</li>	
<li>To set up, test, and evaluate systems such as Local Area Network (LANs), Wide Area
Networks (WANs), the Internet, Intranets, and other data Communications Systems.</li>	
<li>To design, install and support an organization’s computer systems.</li>	
<li>Responsible for maintaining system efficiency.</li>	
<li>Ensure that the design of an organization’s Computer System allows all of the components,
including computers, the network, and software, to work properly together.</li>	
<li>Troubleshoot problems reported by users and by automated network monitoring systems and
make recommendations for future system upgrade. </li>	
<li>Responsible for maintaining network and system security.</li>	
<li>Gather Data to evaluate , system’s performance, identify user needs, and determine system and
network requirements.</li>	
<li>Install and maintain network hardware and software, analyze problems, and monitor networks
to ensure their availability to users.</li>	
<li>Maintaining Network Infrastructure.</li>	
<li>Create backup and recovery policy.<li></li>	
Managing User accounts, sharing directories, setting up shared printers, monitor network
communication.</li>	
<li>Generate and implement the policies for the use of the computer system and network.
Perform any other duties as assigned by the Medical Superintendent.</li>	
</ul>

<br>

<h2>2 nd Mar 09 – 1 st Jul 2011 : Operations Manager in a Newspaper Media Distributing
Company, KIGALI – RWANDA.</h2>

<strong>Responsibilities.</strong>

<ul>
<li>Promoting good customer relations by ensuring correct, timely, effective delivery to
clients and by addressing emergent client issues.</li>
<li>Correct and timely submission of returns.</li>
<li>Maintain an orderly, clean, noise free and otherwise customer friendly
working environment.</li>
<li>Supervision and motivation of staff to ensure effective and efficient use of manpower.</li>
<li>Providing computer maintenance support , installing programs, updating antivirus.</li>
<li>Ensuring a proper record and filing system.</li>
<li>Implementing special assignments as directed by the MD.</li>
<li>Assisting the MD in development and growth initiatives.</li>	
</ul>>

</p>

<h3>Professional Background</h3>
<p>
<ul>
<li><strong>Jan 2007 - Dec 2007:</strong> Pursed an <b>Information Systems course (International Advanced
Diploma in Computer Studies) IADCS</b> examined by <b></b>NCC Education.</li>
<br>
<li><strong>July 2005 – June 2006:</strong> Pursued an  <b>Information Technology courses in (Diploma) and (Foundation Diploma)</b> examined by <b>IMIS. (International Management & Information Systems)</b></li>
<br>
<li> <strong>15 th Mar to 15 th Dec 2002:</strong> Pursued <b>Information Technology</b> courses at <b>Sigotop Career Development Centre.</b></li>	
<br>
</ul>>


</p>

<h3>Other Courses</h3>
<p>
<ul>
<li>Computer Maintenance and Repair in Comboni Polytechnic in Gilgil Town</li>
<li>CCNA 1 in Local Academy - Maseno University.</li>
<li>E-PROCUREMENT AND E-BIDDING in Government.</li>

</ul>>

</p>
<h3>Academic Background</h3>

<p>

<strong>Jan 1998 – Dec 2001:</strong> Attained a K.C.S.E. Certificate with a mean grade of C- : ST. Joseph
Boys High School, Rapogi.
<br>
<strong>Jan 1985 – Dec 1997:</strong> Attained a K.C.P.E. Certificate of 367 Marks- M.M. Shah Primary
School in Kisumu Town.	

</p>



<h3>Hobbies</h3>
<p>
Playing basketball,and football,travelling, drumming (drumist in traditional songs), walks, mountain
climbing, cooking, reading and watching movies.

</p>

<h3>Referees</h3>
<p>
1. ALBERT ONYANGO
	Business and Operations Manager
	ACK Diocese of Southern Nyanza
	P.O. Box 65-40300
	Homa Bay.
	EMAIL: aponyango@hotmail.com
	TEL: 0722760091

2. MR. NEWTON OMONDI
	Local Academy Instructor
	Maseno University
	Private Bag
	Maseno.
	EMAIL: nomondi@maseno.ac.ke

	TEL: 0727-776234

3. MR. TOM .K. MORIKE
	(Health Records Information Officer)
	Jaramogi Oginga Odinga Teaching and Referral Hospital.
	P.O. BOX 849 – 40100
	Kisumu.
	Email : tmorike@yahoo.com

	TEL: 0721-707136
</p>


